/* line 22, ../../compass/sass/styles.scss */
body {
  background-color: #1d96d7;
}

/* line 26, ../../compass/sass/styles.scss */
.header {
  height: 60px;
  background-color: #fff;
}
/* line 29, ../../compass/sass/styles.scss */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
}
/* line 32, ../../compass/sass/styles.scss */
.header .menu-wrapper li {
  float: left;
  list-style-type: none;
  padding: 0px 20px;
}

/* line 40, ../../compass/sass/styles.scss */
.main-content {
  max-width: 960px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
}
/* line 45, ../../compass/sass/styles.scss */
.main-content .header-image {
  text-align: center;
}
/* line 47, ../../compass/sass/styles.scss */
.main-content .header-image img {
  border-radius: 12px;
  max-width: 100%;
}
/* line 52, ../../compass/sass/styles.scss */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 58, ../../compass/sass/styles.scss */
.main-content .left-content-bar p.left-bar-header {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #253b56;
  margin-top: 15px;
}
/* line 66, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 70, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
}
/* line 74, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
  margin-bottom: 25px;
}
/* line 80, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper {
  display: inline-block;
  max-width: 60%;
  margin-left: 15px;
}
/* line 94, ../../compass/sass/styles.scss */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 98, ../../compass/sass/styles.scss */
.main-content .right-content-bar .hours {
  width: 90%;
  background-color: #ebf6fc;
  border-radius: 5px;
  margin: 20px 0px;
  margin-left: 10px;
  padding: 15px;
}
/* line 106, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets {
  width: 90%;
  background-color: #1994d7;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0px;
  margin: 30px 0px;
  margin-left: 10px;
}
/* line 114, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets p {
  color: #fff;
  margin: 5px 0px;
}
/* line 118, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets .ticket-price {
  color: #fff;
  font-size: 36px;
}
/* line 122, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets button {
  background-color: #1994d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* line 129, ../../compass/sass/styles.scss */
.main-content .right-content-bar .map {
  text-align: center;
  margin: 30px 0px;
}
