/* line 22, ../../compass/sass/styles.scss */
body {
  background-color: #1d96d7;
}

/* line 26, ../../compass/sass/styles.scss */
form {
  clear: both;
}

/* line 30, ../../compass/sass/styles.scss */
#nav {
  overflow: hidden;
  margin: auto;
}
/* line 33, ../../compass/sass/styles.scss */
#nav ul {
  list-style: none;
}
/* line 35, ../../compass/sass/styles.scss */
#nav ul li {
  float: left;
  margin-right: 20px;
}
/* line 38, ../../compass/sass/styles.scss */
#nav ul li a {
  color: #fff;
  font-size: 18px;
}

/* line 46, ../../compass/sass/styles.scss */
.header {
  height: 60px;
  background-color: #fff;
}
/* line 49, ../../compass/sass/styles.scss */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
}
/* line 52, ../../compass/sass/styles.scss */
.header .menu-wrapper li {
  float: left;
  list-style-type: none;
  padding: 0px 20px;
  margin-top: 27px;
}

/* line 61, ../../compass/sass/styles.scss */
.main-content {
  max-width: 960px;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
}
/* line 68, ../../compass/sass/styles.scss */
.main-content .main-header {
  margin: 20px;
  padding-top: 1px;
}
/* line 73, ../../compass/sass/styles.scss */
.main-content .header-image {
  text-align: center;
}
/* line 75, ../../compass/sass/styles.scss */
.main-content .header-image img {
  border-radius: 12px;
  max-width: 100%;
}
/* line 80, ../../compass/sass/styles.scss */
.main-content .header-images {
  text-align: center;
}
/* line 82, ../../compass/sass/styles.scss */
.main-content .header-images img {
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}
/* line 88, ../../compass/sass/styles.scss */
.main-content .header-text {
  text-align: center;
  padding-top: 45px;
  padding-right: 12%;
  padding-left: 12%;
  border-bottom: 1px solid #ccc;
}
/* line 95, ../../compass/sass/styles.scss */
.main-content .tickets {
  width: 900px;
  height: 70px;
  background-color: #1d96d7;
  margin: auto;
  border-radius: 0 0 12px 12px;
}
/* line 101, ../../compass/sass/styles.scss */
.main-content .tickets p {
  display: inline-block;
  line-height: 70px;
  color: white;
  font-size: 18px;
  margin-left: 25px;
}
/* line 107, ../../compass/sass/styles.scss */
.main-content .tickets p span {
  font-size: 24px;
}
/* line 111, ../../compass/sass/styles.scss */
.main-content .tickets button {
  display: inline-block;
  background-color: #1d96d7;
  border-radius: 12px;
  color: white;
  margin-left: 22%;
}
/* line 121, ../../compass/sass/styles.scss */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 127, ../../compass/sass/styles.scss */
.main-content .left-content-bar p.left-bar-header {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #253b56;
  margin-top: 15px;
}
/* line 135, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 139, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
}
/* line 143, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
  margin-bottom: 25px;
}
/* line 148, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper {
  display: inline-block;
  max-width: 60%;
  margin-left: 15px;
}
/* line 159, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .arrow-image {
  display: inline-block;
}
/* line 161, ../../compass/sass/styles.scss */
.main-content .left-content-bar .left-block-items .left-block-item .arrow-image img {
  margin-bottom: 40px;
}
/* line 168, ../../compass/sass/styles.scss */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 172, ../../compass/sass/styles.scss */
.main-content .right-content-bar .hours {
  width: 90%;
  background-color: #ebf6fc;
  border-radius: 5px;
  margin: 20px 0px;
  margin-left: 10px;
  padding: 15px;
}
/* line 179, ../../compass/sass/styles.scss */
.main-content .right-content-bar .hours p {
  margin-bottom: -3px;
}
/* line 182, ../../compass/sass/styles.scss */
.main-content .right-content-bar .hours .print-map {
  color: #40ace6;
  margin-top: 20px;
}
/* line 187, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets {
  width: 90%;
  background-color: #1994d7;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0px;
  margin: 30px 0px;
  margin-left: 10px;
}
/* line 195, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets p {
  color: #fff;
  margin: 5px 0px;
}
/* line 199, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets .ticket-price {
  color: #fff;
  font-size: 36px;
}
/* line 203, ../../compass/sass/styles.scss */
.main-content .right-content-bar .tickets button {
  background-color: #1994d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* line 210, ../../compass/sass/styles.scss */
.main-content .right-content-bar .map {
  text-align: center;
  margin: 30px 0px;
  border-bottom: 1px solid #ccc;
}
/* line 214, ../../compass/sass/styles.scss */
.main-content .right-content-bar .map p {
  text-align: left;
}
/* line 217, ../../compass/sass/styles.scss */
.main-content .right-content-bar .map img {
  margin-bottom: 30px;
}

/* line 225, ../../compass/sass/styles.scss */
form.form-horizontal {
  margin-top: 50px;
}

/* line 229, ../../compass/sass/styles.scss */
table#home-content {
  width: 95%;
  border-radius: 5px;
  border: solid 1px black;
}
